body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: beige;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 64px;
  text-align: center;
}

.searchBar {
  position: relative;
  top: 100px;
  transition: top 0.8s ease-in;
  z-index: 100;
  width: 100%;
  max-width: 800px;
}

.searchBar.flex-container {
  flex-direction: row;
  font-size: 3rem;
}

.searchBar input[type="text"] {
  flex: 2;
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.searchBar input[type="button"] {
  flex: 1;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background-color: #047aed;
  color: #fff;
  font-size: 17px;
}

.searchBar input[type="button"]:hover {
  cursor: pointer;
}

.searchBar input[type="button"]:active {
  background-color: #e73131;
}

.searchBar input {
  padding: 16px;
  border: 2px solid #b4becb;
}

.searchBar input:focus {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.weather.grid-container {
  align-items: start;
}

.weather div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.degrees {
  text-align: center;
}

.loading {
  width: 4rem;
  height: 4rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #047aed;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  position: fixed;
  top: 45%;
  animation: spin 1s infinite linear;
}

.loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather,
.forecast {
  opacity: 0;
  transition: opacity 1s ease-in;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  border: 2px solid #b4becb;
  box-shadow: 5px 5px 10px black;
}

.forecast .grid-container {
  grid-template-columns: 1fr;
  justify-items: start;
}

.table-grid {
  border-bottom: 2px solid lightgrey;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.error {
  color: red;
}

@media (max-width: 500px) {
  .searchBar.flex-container {
    flex-direction: column;
  }

  .searchBar input[type="text"] {
    width: 80%;
    padding: 16px;
    border-radius: 10px;
    border: 2px solid #b4becb;
  }

  .searchBar input[type="button"] {
    border-radius: 10px;
    border: 2px solid #b4becb;
    margin-top: 16px;
    padding: 16px;
  }

  .weather.grid-container {
    grid-template-columns: 1fr;
  }

  .forecast .grid-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .forecast p {
    text-align: center;
  }

  .table-grid {
    grid-template-columns: 1fr;
    padding-bottom: 16px;
  }

  .weather,
  .forecast {
    max-width: 300px;
  }
}
